.item {
    border-radius: 4px;
    background-color: grey;
    padding: 8px;
    margin-bottom:10px;
    align-self: stretch;   
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1rem;
    box-sizing: border-box;
}

.item img {
    max-height: 25vh;
    width: auto;
}

.item-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* optional, aligns to top */
}

h2 {
    color: white;
}

.item-text a {
  color: lightblue;
  text-decoration: underline;
}